body {
  /* font-size: 5vw; */
  margin: 0;
  align-items: left;
  /* font-family: Arial, sans-serif; */
  
}

.header-box {
  position: relative;
  background-color: #eee;
  align-items: left;
  z-index: 1;
}

.header-text {
  position: absolute;
  background-color: #eee;
  text-align: center;
  padding-bottom: clamp(1rem, 4vw, 2rem);
  padding-top: clamp(1rem, 4vw, 2rem);
  width: 100%;
  top: 0;
  z-index: 8;
  font-size: clamp(16px, 40px, 40px);        
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: clamp(16px, 40px, 40px);       
   
}

a {
  text-decoration: none;
  color: black;
}   
.accordion {
  background-color: #eee;
  position: absolute;
  color: black;
  cursor: pointer;
  width: 8rem;
  text-align: center;
  align-items: left;
  outline: #eee;
  font-size: clamp(16px, 40px, 40px);              
  transition: 0.4s;
  z-index: 10;
  top: 0;
  border: none;
  margin-top: clamp(16px, 32px, 40px);
}

.active,
.accordion:hover {
  background-color: #eee;
}

.ease-in {
  transition: max-height 1s ease-in;
}

.ease-out {
  transition: max-height 0.1s ease-out;
}

.panel {
  position: absolute;
  z-index: 2;
  background-color: #eee;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  top: 5rem; /* Adjust the top value to place the panel below the button */
}

.maintenance{
  padding-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordian-content a {
  display: block;
  text-decoration: none;
  color: #333;
  text-align: center;
  width: 100vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: clamp(16px, 2rem, 30px); 
}

.accordian-content a.first-element {
  padding-top: 5vw;
}

.accordian-content a.last-element {
  padding-bottom: 5vw;
}

.landing-photo{
  padding-top: 6.9rem;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  width:100%;
  z-index: 1;
  margin: 0;
  overflow: hidden;
  /* position: relative; */
}

.resume-viewer{
  padding-top: 6.9rem;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  width:100%;
  z-index: 1;
  margin: 0;
  overflow: hidden;
  /* position: relative; */
}

.active,
.resume-viewer:hover {
  background-color: #eee;
}

.drop-container{
  margin: 0;
  overflow: hidden;
}



.canvas {
  padding-top: 6.9rem;
  position: absolute;
  top: 0;
  left: 0;
}