/* ############################### Overall ##################################### */
/* ############################################################################# */
body,
html {
  margin: 0;
  align-items: left;
  padding: 0;
}

div.a {
  text-indent: 50px;
}

div.b {
  text-indent: -2em;
}

div.c {
  text-indent: 30%;
}


/* ############################# Projects ################################## */
.Projects-container {
  max-width: 1366px;
  margin: 0 auto;
  width: 100vw; 
}

.Projects-header {
  text-align: center;
  font-size: xx-large;
  padding: 10px 10px 10px 10px;

}

.Projects-body {
  /* flex: 1; */
  text-align: justify;
  font-size: large;
  padding: 10px;
}

.accordion-projects {
  display: block;
  background-color: #eee;
  color: black;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  border: none;
  font-size: x-large;
  width: 100%; /* Set width to 100% */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.active-projects,
.accordion-projects:hover {
  background-color: #ccc;
}

.panel-projects {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
  margin: 0 auto;
  text-align: center;
  font-size: large;
  
}

.panel-projects img {
  padding: 10px 10px 10px 10px;
  max-width: clamp(10px, 95%, 600px);

  height: auto;
}

/* ############################################################################# */

/* ############################# Biography Pages ################################## */
.biography-container {
  max-width: 1000px;
  margin: 0 auto;
}

.biography-header {
  text-align: center;
  font-size: xx-large;
  padding: 10px 10px 10px 10px;
}

.biography-body {
  /* flex: 1; */
  text-align: justify;
  font-size: large;
  padding: 10px;
}



/* ############################################################################# */

/* ############################# Publications ################################## */
.publications-container {
  max-width: 1366px;
  margin: 0 auto;
}

.publications-text1 {
  text-align: center;
  font-size: xx-large;
  padding: 10px 10px 10px 10px;
}

.publications-text2 {
  font-size: x-large;
  text-align: justify;
  padding: 10px 10px 10px 10px;
}

.publications-text3 {
  font-size: x-large;
  text-align: left;
  padding: 10px 10px 10px 10px;
}

.accordion-pub {
  background-color: #eee;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: x-large;
}

.active-pub,
.accordion-pub:hover {
  background-color: #ccc;
}

.panel-pub {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
  margin: 0 auto;
  text-align: center;
  font-size: large;
}

.abstract {
  padding: 10px 10px 10px 10px;
  font-size: x-large;
  text-align: justify;
}

.panel-pub img {
  padding: 10px 10px 10px 10px;
  max-width: clamp(10px, 95%, 600px);

  height: auto;
}

/* ############################################################################# */

/* ############################# Resume Pages ################################## */
.resume-viewer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: clamp(8.5in, 4vw, 100%);
  background-color: #9e9d9d;
  padding-bottom: 1vw;
}

.resume-background {
  padding-top: 1vw;
  background-color: #9d9d9e;
  width: 100%;
}

.resume-fullpage {
  align-items: center;
  justify-content: center;
  width: 99%;
  height: 12in;
  z-index: 1;
  margin: 0;
  overflow: hidden;
}


/* ############################################################################# */


/* ############################# Landing Page ################################## */

/* ------ banner ----- */
.home-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.banner-container {
  /* position: relative; */
  width: 100%;
  display: flex;
}

.header-box {
  background-color: #eee;
  z-index: 1;
  width: 90%;
  display: flex;
  align-items: center;
  /* Center items vertically */
  justify-content: center;
  /* Center items horizontally */
  font-size: clamp(10px, 5vw, 100px);
  height: clamp(10px, 10vw, 100px);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-right: 9.1%;
}

.heading-space {
  background-color: #eee;
  width: 100%;
  height: clamp(10px, 1vw, 100px);
}


/* ------------------- */

/* ----- Dropdown ---- */

.accordion {
  cursor: pointer;
  border: none;
  width: 10%;
  font-size: clamp(8px, 5vw, 100px);
  /* transition: 0.4s; */
  height: clamp(10px, 10vw, 100px);
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  background-color: #eee;
  z-index: 1;
}


a {
  text-decoration: none;
  color: black;
}

.accordian-content a.first-element {
  padding-top: 5vw;
}

.accordian-content a.last-element {
  padding-bottom: 5vw;
}

.active,
.accordion:hover {
  background-color: #eee;
}

.accordian-content a {
  display: block;
  text-decoration: none;
  color: #333;
  text-align: center;
  width: 100vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: clamp(16px, 2vw, 30px);
}

/* ------------------- */

/* ----- Zoom -------- */

.zoom-container {
  display: block;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  max-height: 40rem;
  margin: 0;
  padding: 0;
}


.landing-photo {
  width: 100%;
  min-width: 100%;
  height: auto;
  transform-origin: 30% 70%;
  object-fit: cover;
  max-height: 100vw;
  display: block;
}

/* ------------------- */

/* ----- Rain -------- */

.canvas {
  top: 0;
  left: 0;
  width: 100%;
  /* Adjust the width if needed */
  height: auto;
  /* Allow the height to adjust proportionally */
  position: absolute;
}

/* ------------------- */

.landing-text1 {
  font-size: clamp(5px, 4vw, 100px);
  color: #2718ac;
  position: absolute;
  text-align: center;
  /* Center text horizontally */
  top: 30%;
  /* Move the top to the middle of the container */
  left: 50%;
  /* Move the left to the middle of the container */
}

.landing-text2 {
  font-size: clamp(5px, 3vw, 100px);
  color: #2718ac;
  position: absolute;
  text-align: center;
  /* Center text horizontally */
  top: 40%;
  /* Move the top to the middle of the container */
  left: 50%;
  /* Move the left to the middle of the container */
}

.landingbio-container {
  max-width: 1366px;
  margin: 0 auto;
}

.landingbio-header {
  text-align: center;
  font-size: xx-large;
  padding: 10px 10px 10px 10px;
}

.landingbio-text {
  text-align: justify;
  font-size: large;
  padding: 10px 10px 10px 10px;
  /* color: #2718ac; */
}

.landingbio-img {
  max-width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  padding: 10px 10px 10px 10px;
  /* color: #2718ac; */
}


/* ------------------- */

/* ############################################################################# */