h1 {
    color: blue;
}

p {
    color: red;
}

img {
    width: 100%;
}

body, html {
    height: 100%;
    margin: 0;
}

.image_background {
    /* The image used */
    background-image: url("hills.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background_square {
    width: 100%;
    height: 1000px;
    background: rgb(235, 235, 235);
}

.column_left {
    width: 33.3%;
    height: 500px;
    background: rgb(0, 194, 250);
    /* background: rgb(255, 194, 103); */
    position: absolute;
}

.column_center {
    width: 33.4%;
    height: 500px;
    background: rgb(247, 150, 150);
    position: absolute;
    left: 33.3%;
}

.column_right {
    width: 33.3%;
    height: 500px;
    background: rgb(176, 225, 240);
    position: absolute;
    left: 66.7%;
}

.column_bar_top{
    border-radius: 15px;
    width: 80%;
    height: 10px;
    background: rgb(136, 134, 138);
    position: absolute;
    top: 1%;
    left: 10%;
}

.column_bar_bot{
    border-radius: 15px;
    width: 80%;
    height: 10px;
    background: rgb(136, 134, 138);
    position: absolute;
    top: 97%;
    left: 10%;
}