body, html {
  /* font-size: 5vw; */
  margin: 0;
  align-items: left;
  /* font-family: Arial, sans-serif; */
  padding: 0;
}

.header-box {
  position: relative;
  background-color: #eee;
  align-items: left;
  z-index: 1;
}

.header-text {
  position: absolute;
  background-color: #eee;
  text-align: center;
  padding-bottom: clamp(1vw, 4vw, 2vw);
  padding-top: clamp(1vw, 4vw, 2vw);
  width: 100%;
  top: 0;
  z-index: 8;
  font-size: clamp(16px, 40px, 40px);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: clamp(16px, 40px, 40px);

}

a {
  text-decoration: none;
  color: black;
}

.accordion {
  background-color: #eee;
  position: absolute;
  color: black;
  cursor: pointer;
  width: 8vw;
  text-align: center;
  align-items: left;
  outline: #eee;
  font-size: clamp(16px, 40px, 40px);
  transition: 0.4s;
  z-index: 10;
  top: 0;
  border: none;
  margin-top: clamp(1vw, 4vw, 2vw);
}

.active,
.accordion:hover {
  background-color: #eee;
}

.ease-in {
  transition: max-height 1s ease-in;
}

.ease-out {
  transition: max-height 0.1s ease-out;
}

.panel {
  position: absolute;
  z-index: 2;
  background-color: #eee;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  top: 5vw;
  /* Adjust the top value to place the panel below the button */
}

.maintenance {
  padding-top: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordian-content a {
  display: block;
  text-decoration: none;
  color: #333;
  text-align: center;
  width: 100vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: clamp(16px, 2vw, 30px);
}

.accordian-content a.first-element {
  padding-top: 5vw;
}

.accordian-content a.last-element {
  padding-bottom: 5vw;
}


/* ############################# Resume Pages ################################## */
.resume-viewer {
  padding-top: 5vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: clamp(8.5in, 4vw, 100%);
  background-color: #9e9d9d;
  /* background-color: #eee; */
  /* width: ; */
}

.resume-background {
  padding-top: 1vw;
  /* display: block; */
  /* height: 11in; */
  /* width: clamp(8.5in, 4vw, 100%); */
  background-color: #9e9d9d;
  width: 100%;
}

.resume-fullpage {
  /* padding-top: 5vw; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  width: 99%;
  height: 12in;
  z-index: 1;
  margin: 0;
  overflow: hidden;
  /* position: relative; */
}
/* ############################################################################# */

/* ############################# Landing Page ################################## */

.drop-container {
  padding-top: 5vw;
  margin: 0;
  overflow: hidden;
  width: 100%; /* Set the width of the container */
  /* height: 500px; Set the height of the container */
}

.zoom-container {
  overflow: hidden;
  width: 100%; /* Take the full width of the viewport */
  height: 50vw;
}

.landing-photo {
  width: 100%;
  /* min-width: 100%; 
  height: auto;
  transition: transform 0.3s ease-in-out;
  transform-origin: 30% 70%; 
  object-fit: cover; Control how the image is resized to fit the container */
}

.canvas {
  padding-top: 5vw;
  position: absolute;
  top: 0;
  left: 0;
  /* height: 50vw; */
}

.landing-bio{
  position: absolute;
  top: 45vw;
  width: 100%; /* Set the width of the container */
  height: 50vw;
  background-color: #eee;
}

/* ############################################################################# */
