<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/static/images/Landing/Cool_Beaver.png" type="image/PNG">
</head>

<body>

    <div class="home-container">

        <div class="heading-space" id="spacebase1"></div>
        <div class="banner-container">
            <button class="accordion">&#8801;</button>
            <div class="header-box">
                <a href="/" class="first-element">Dr. Anthony Pyka</a>
            </div>
        </div>
        <div class="heading-space" id="spacebase2"></div>
        <div class="panel" id="panelbut">
            <div class="accordian-content">
                <a href="/" class="first-element">Home</a>
                <a href="/Resume">Resume</a>
                <a href="/Biography">Biography</a>
                <a href="/Publications">Publications</a>
                <a href="/Projects" class="last-element">Projects</a>
            </div>
        </div>

        <div class="biography-container">
            <div class="biography-header"> Biography </div>
            <img src="/static/images/Biography/Biography Shell.JPG" alt="Anthony jpg" width="35%" style="display: block; margin: auto; max-width: 250px;">
            <div class="biography-body">
                <div>
                    Winston Churchill once said: “Success consists of going from failure to failure without
                    loss of enthusiasm.” Growth does not come from success, but rather, comes with learning
                    from failures. The determination that humans have to persevere through failure is truly
                    remarkable and I aspire to be one of those people.
                    Born and raised in San Diego, I was always outside trying to absorb as much of the world
                    (and the sun) as I could. I was a part of the Boy Scouts Of America during my youth,
                    which allowed me to see more of the world than my backyard. I went on many excursions during my
                    time in scouts, with the honorable mentions of: backpacking over 100 miles in New Mexico,
                    eating fresh lobster while sailing in the Florida Keys, and viewing the starscape while
                    trying to sleep in a cave in the Mojave Desert. I learned from these adventures how to
                    interact with people with confidence and how to properly be a leader.
                </div>
                <img src="/static/images/Biography/Biography Tesla.JPG" alt="Anthony jpg" width="40%" style="float: right; margin-left: 20px; max-width: 350px;">

                <div class="a">
                    My academic growth started with a book. The book, “The Problem of Increasing Human
                    Energy,”
                    by Nikola Tesla, described how magnetic fields can be manipulated to create
                    controllable arcs
                    of electricity. My curiosity quickly grew into an obsession and, with my father’s help
                    and a
                    year’s worth of solder burns, I produced my first musical Tesla coil. The satisfaction
                    of first flipping that
                    switch meant more to me than scoring in rugby or receiving an A in a class. I knew I had
                    to be
                    an engineer and college was a necessity. I decided to move away from home to pursue a
                    degree
                    in chemical engineering at Oregon State University (OSU).
                </div>

                <div class="a">
                    The summer after my sophomore year at OSU, I interned at Funai Corporation under Dr.
                    Manish Giri. This project required the development of MATLAB code and the use of machine
                    shops
                    to help fabricate the microfluidic analytic system Helios®. The device was designed to
                    print and
                    read 1,000 cell cultures on a single 3 by 5 inch glass plate. My contribution enabled
                    the device
                    to photograph the printed cell cultures and analyze the samples for particulates. With
                    my
                    contribution, the endless hours of counting cultures under a microscope will now be
                    reduced to
                    several minutes. I loved the intensity of the work. I enjoyed struggling through
                    hundreds of
                    lines of code to create a final product that would ultimately benefit society. This
                    project opened
                    many doors to me by introducing a new aspect of chemical engineering that was not
                    typically
                    taught in school.
                </div>
                
                <div class="a">
                    That summer, I also started my research with the Corona Project with Dr. Nick AuYeung.
                    I created a series of alternating current (AC) circuits that boosted the input voltage
                    of 120 volts
                    to up to 12,000 volts with an adjustable frequency and duty cycle controller. The
                    circuit was
                    implemented into a micro-reactor to stimulate a corona discharge in a channel of flowing
                    gas.
                    This research project provided a mechanism for creating fuel additives by applying high
                    voltages to short-chain hydrocarbons. The determination and critical thinking skills
                    developed
                    in these undergraduate projects will directly apply to my school work.
                </div>
                <img src="/static/images/Biography/Biography Prague.JPG" alt="Anthony jpg" width="40%" style="float: right; margin-left: 20px; max-width: 300px;">
                <div class="a">
                    I expanded my research into a different field during my internship at
                    Fraunhofer UMSICHT in Sulzbach-Rosenberg, Germany. I designed and conducted inductive
                    hydrotreating experiments to understand effects of magnetic fields on crude bio-oil
                    samples
                    from a Thermo-Catalytic Reformer (TCR®). I also undertook a catalytic refining project
                    to
                    determine the most efficient reaction parameters to minimize nitrogen and oxygen
                    concentrations in crude oil samples. I created a Design Of Experiments (DOE) to compare
                    the
                    effectiveness of CoMo/Al<sub>2</sub>O<sub>3</sub> and NiMo/Al<sub>2</sub>O<sub>3</sub> at different temperatures, pressures, and
                    resonance times. These catalysts reduced oxygen and nitrogen counts of compounds in TCR®
                    samples from 4.5 to 1.3 wt.% and from 7.0 to 0.8 wt.%, respectively. The difficulty and
                    rigor of
                    the project at Fraunhofer UMSICHT further inspired me to pursue a chemical engineering
                    graduate degree. I saw how the research in reusable fuels directly contributed to
                    benefiting the
                    community by reducing and reusing resources in incredibly unique methods. My experience
                    abroad in Germany opened my eyes to a world beyond Oregon State
                    University. I learned to balance my work life and personal life as I traveled across the
                    country for leisure and for business. Taking advantage of this travel experience, I
                    established
                    professional relationships with colleagues and professors. I was able to collaborate
                    with others, in German and English, to complete objectives while meeting rigid
                    deadlines.
                </div>
                
                <div class="a">
                    Through these experiences, I learned that I wanted to play a role in the clean-energy
                    industry. I decided to continue my education at the University of Washington as a
                    graduate student under Dr. Eric Stuve. Bright-eyed and bushy-tailed, I quickly started
                    on an electrochemistry project aimed at improving the lives of those suffering from renal
                    failure. The project included frequent meetings with business sponsors to collaborate
                    with other
                    groups to develop a working prototype of a wearable artificial kidney (WAK). With my
                    help, our group designed Ni(OH)<sub>2</sub> catalysts for improved current density (from 2.5 to 10mA cm <sup>-2</sup>)
                    for the removal of urea in dialysis fluid. Unfortunately, there is a sufficient amount
                    of chloride ions in dialysate fluid, which actively corrode Ni(OH)<sub>2</sub> catalysts. The
                    information from Ni(OH)<sub>2</sub>
                    catalysts paved the way for the use of nickel-based alloys as an alternative. These
                    materials
                    show catalytic activity and are relatively passivated in brackish water. With our
                    project cut short, I learned that fundamental research is important but can't always
                    pay the bills to keep the lights on.
                </div>
                <div class="a">
                    My next project was focused on the development of Ni(OH)<sub>2</sub> catalysts to gain a complete
                    understanding of the urea oxidation reaction. I designed and built a bi-functional
                    high-vacuum system to melt 99.999% nickel wire with electron bombardment to synthesize
                    nickel-single crystals. These crystals were taken and tested for their crystalline and
                    urea oxidation properties. Coupled with this project, I built another vacuum system to
                    measure the gaseous products to determine the urea electrooxidation reaction pathways.
                    These two systems, combined, laid the groundwork for Ni(OH)<sub>2</sub> catalysts and paved the way
                    for
                    future fundamental studies.
                </div>
                <div class="a">
                    I commonly say "undergraduate is where you learn things, where
                    graduate school is where you learn how to learn things." I learned electrochemistry with
                    papers, conferences, and textbooks - as there was not an electrochemistry class I could
                    take. I learned to break a complex problem into many solvable components. I believe
                    that this method of thinking is applicable to all subjects and industries and excites
                    me to perform at maximum
                    effort to benefit myself, my peers, and my community.
                </div>
            </div>
        </div>


        <script src="../static/scripts/top-banner.js"></script>
        <script src="../static/scripts/zoom.js"></script>
        <script src="../static/scripts/rain.js"></script>

</body>

</html>