<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/static/images/Landing/Cool_Beaver.png" type="image/PNG">
</head>

<body>

    <div class="home-container">

        <div class="heading-space" id="spacebase1"></div>
        <div class="banner-container">
            <button class="accordion">&#8801;</button>
            <div class="header-box">
                <a href="/" class="first-element">Dr. Anthony Pyka</a>
            </div>
        </div>
        <div class="heading-space" id="spacebase2"></div>
        <div class="panel" id="panelbut">
            <div class="accordian-content">
                <a href="/" class="first-element">Home</a>
                <a href="/Resume">Resume</a>
                <a href="/Biography">Biography</a>
                <a href="/Publications">Publications</a>
                <a href="/Projects" class="last-element">Projects</a>
            </div>
        </div>


        <div class="zoom-container" id="zoomcontainer">
            <img class="landing-photo" src="/static/images/Landing/skyline.jpg" alt="Zoomed Image" id="landingImage">
            <canvas id="rainCanvas" class="canvas"></canvas>
        </div>

        <!-- <div class="heading-space"></div> -->
        <!-- <div class="landing-text1" id="text1">Welcome!</div><br>
        <div class="landing-text2" id="text2">This is my personal page</div> -->

        <div class="landingbio-container">
            <div class="landingbio-header">
                Welcome to my personal website!
            </div>
            <div class="landingbio-text">
                Here you will find aspects about me ranging from my personal life
                to my professional life. I am a dedicated individual that is never bored - resulting in me exploring a
                range of hobbies to fill the void of time. I am an avid reader that enjoys a classic sci-fi trilogy,
                with the <i>Red Rising</i> series being my current
                favorite (although I am a big fan of Jonathon Scalzi's <i> Old Man's War </i> series). The nature of
                science fiction has guided my interest of science, where sometimes the inventions in a book become reality. The "pocket computer" from Jerry Pournelle's <i> King David's Spaceship</i> being one of them.
                Although I am not looking to invent the next pocket computer, I find myself wanting to contribute to
                science related to the green energy industry. My Ph.D. in chemical engineering at the University of
                Washington allowed me to be in an environment where I could tamper with expensive equipment to research
                the fabric of our universe. Fancy words for saying: I tried and failed a lot. I did, however, discovered
                some interesting catalytic abilites of nickel and nickel-based catalysts for the removal of urea from
                alkaline environments (found under publications). Post graduate school, I am currently seeking
                opportunites of employment in the greater Seattle area where I can apply my education and experience.
                <br>

                <br>
                <div align="center"><i>To making the world a more efficient place, one Joule at a time.</i></div>


                <br>


            </div>

            <img class="landingbio-img" src="/static/images/Landing/Landing Profile Pic.jpg" alt="Anthony jpg"></img>
        </div>

    </div>

    <script src="../static/scripts/top-banner.js"></script>
    <script src="../static/scripts/zoom.js"></script>
    <script src="../static/scripts/rain.js"></script>

</body>

</html>