<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="styles.css">

</head>

<body>

    <div class="home-container">

        <div class="heading-space" id="spacebase1"></div>
        <div class="banner-container">
            <button class="accordion">&#8801;</button>
            <div class="header-box">
                <a href="/" class="first-element">Dr. Anthony Pyka</a>
            </div>
        </div>
        <div class="heading-space" id="spacebase2"></div>
        <div class="panel" id="panelbut">
            <div class="accordian-content">
                <a href="/" class="first-element">Home</a>
                <a href="/Resume">Resume</a>
                <a href="/Biography">Biography</a>
                <a href="/Publications">Publications</a>
                <a href="/Projects" class="last-element">Projects</a>
            </div>
        </div>

        
        <div class="zoom-container" id="zoomcontainer">
            <img class="landing-photo" src="/static/images/skyline.jpg" alt="Zoomed Image" id="landingImage">
            <canvas id="rainCanvas" class="canvas"></canvas>
        </div>

        <!-- <div class="heading-space"></div> -->
        <!-- <div class="landing-text1" id="text1">Welcome!</div><br>
        <div class="landing-text2" id="text2">This is my personal page</div> -->

        <div class="landingbio-container">
            <div class="landingbio-header">
                Renewable Energy: The Future
            </div>
            <div class="landingbio-text">
                My research in graduate school was focused on the the conversion of urea, a small organic molecule, into
                usable forms
                of energy and fuel through electrochemical oxidation. Urea is a small organic molecule that is
                continually produced, circulated, and consumed through natural processes. Unfortunately, urea is a
                common pollutant in waste streams from industrial processes, human excrement, and drug production. High
                concentrations have been seen to disrupt the natural process of the nitrogen cycle, causing negative
                environmental impacts. The high concentrations of urea can be removed by several different types of
                processes, but electrochemical removal poses a double benefit. Electrochemically oxidizing urea allows
                for urea to removed from the environment with hydrogen as a byproduct.
                <br>
                <br>

                Prior to graduate school, my research experience was converting organic matter into thermo-chemical
                energy storage mediums through thermocataltyic cracking of complex hydrocarbons (such as coffee grounds
                from the office) into usable blends of
                gasoline diesel. Additionally, the synthesis gas from this process was used as feedstock into a
                high-voltage microreactor to increase product yield.
            </div>

            <img class="landingbio-img" src="/static/images/Landing Profile Pic.jpg" alt="Anthony jpg"></img>
        </div>

    </div>

    <script src="../static/scripts/top-banner.js"></script>
    <script src="../static/scripts/zoom.js"></script>
    <script src="../static/scripts/rain.js"></script>
    
</body>

</html>