<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="styles.css">

</head>

<body>

    <div class="home-container">

        <div class="heading-space" id="spacebase1"></div>
        <div class="banner-container">
            <button class="accordion">&#8801;</button>
            <div class="header-box">
                <a href="/" class="first-element">Dr. Anthony Pyka</a>
            </div>
        </div>
        <div class="heading-space" id="spacebase2"></div>
        <div class="panel" id="panelbut">
            <div class="accordian-content">
                <a href="/" class="first-element">Home</a>
                <a href="/Resume">Resume</a>
                <a href="/Biography">Biography</a>
                <a href="/Publications">Publications</a>
                <a href="/Projects" class="last-element">Projects</a>
            </div>
        </div>

        <div class="publications-container">
            <div class="publications-text1">
                Publications
            </div>
            <div class="publications-text2">
                Here is a collection of papers that I wrote in graduate school at the University of Washington.
                The focus of these papers is the development of electrocatalysts for the oxidation of urea and splitting
                of water in alkaline mediums. These works have been submitted and are under consideration for publishing
                in peer-reviewed journals and are not available for reading unless requested.
            </div>

            <div class="publications-text3">
                <b>Papers:</b>
            </div>

            <button class="accordion-pub"> 1.) Selective Nickel-Oxyhydroxide Phase Growth Through Controlled
                Electrochemical Cycling Procedures For Improved Oxygen Evolution</button>
            <div class="panel-pub">
                <div class='abstract'>
                    <u>Graphic:</u><br>
                </div>
                <img src="/static/images/Publications/GA-Phase.png" alt="GA">
                <!-- <br> -->
                <div class='abstract'>
                    <u>Abstract:</u><br>
                    Nickel is a promising electrocatalyst for the oxygen evolution reaction (OER) due to its low cost
                    and formation of highly active oxyhydroxide (NiOOH) species in alkaline conditions. In this paper,
                    NiOOH phases were developed using selective electrochemical cycling from 0.9 V<sub>RHE</sub> to
                    switching
                    potentials between 1.54 and 1.64 V<sub>RHE</sub> in 0.5 M KOH at 25 °C. Cyclic voltammetry,
                    chronoamperometry, electrochemical impedance spectroscopy (EIS), and scanning electron microscopy
                    (SEM) were used to characterize the surface oxide formed by the cycling procedures. Cycling with a
                    lower switching potential (1.54 V<sub>RHE</sub>) led to preferential formation of &beta;-NiOOH,
                    while higher
                    switching potentials (1.64 V<sub>RHE</sub>) favored the formation of &gamma;-NiOOH. Moreover, a high
                    switching
                    potential induced surface roughening through NiOOH lattice expansion and contraction, thereby
                    increasing electrochemical surface area (ECSA) and the number of grain boundaries. Kinetics of the
                    OER were evaluated using Tafel analysis and turnover frequency (TOF). For OER potentials of
                    1.59-1.69 V<sub>RHE</sub>, the TOF values were 6-17 times larger for an electrode developed with a
                    switching
                    potential of 1.54 V<sub>RHE</sub> as compared to a switching potential of 1.64 V<sub>RHE</sub>,
                    indicating improved OER
                    kinetics of the &beta;-NiOOH phase. Tafel analysis revealed little difference in Tafel slope
                    (38.2-44.2 mV dec<sup>-1</sup>) for OER between 1.54 and 1.69 V<sub>RHE</sub>, suggesting that
                    &beta;-NiOOH and &gamma;-NiOOH have
                    similar OER mechanisms. The results here show that selective electrochemical cycling can be used to
                    control the formation of NiOOH species.
                </div>
            </div>
            
            <button class="accordion-pub"> 2.) The Impact Of Urea Electrooxidation On Nickel Oxyhydroxide
                Catalysts</button>
            <div class="panel-pub">
                <div class='abstract'>
                    <u>Graphic:</u><br>
                </div>
                <img src="/static/images/Publications/GA-Products.png" alt="GA">
                <!-- <br> -->
                <div class='abstract'>
                    <u>Abstract:</u><br>
                    Nickel is a promising electrocatalyst for the urea oxidation reaction (UOR) due to its low cost and
                    high activity. Urea electrooxidation was studied in KOH electrolytes with and without the presence
                    of incidental iron to understand the UOR activity of the &beta;-NiOOH and &gamma;-NiOOH phases of nickel.
                    Cyclic voltammetry, chronoamperometry, and mass spectrometry were used to develop and characterize
                    the urea oxidation and oxygen evolution reaction activities of NiOOH phases. Cycling in urea-free
                    electrolytes with low (1.58 V<sub>RHE</sub>) and high (1.68 V<sub>RHE</sub>) switching potentials led to the formation of
                    &beta;-NiOOH and &gamma;-NiOOH (respectively), while cycling the electrodes in 0.2 M urea lead to a phase
                    of nickel that was more &beta;-NiOOH-like in nature. Window opening experiments in purified
                    electrolytes revealed oscillations and a hysteresis in reaction current at higher potentials,
                    possibly due to the formation of NiO<sub>2</sub> or a change of UOR reaction pathway. Chronoamperometry,
                    combined with mass spectrometry, showed a drop in current at higher potentials (1.88 V<sub>RHE</sub>) along
                    with a drop in N<sub>2</sub> faradaic efficiency. The results here show that the surface of nickel is
                    susceptible to change during UOR, which in turn affects the selectivity of urea oxidation and oxygen
                    evolution reaction products.
                </div>
            </div>
            
            <button class="accordion-pub"> 3.) Electrocatalytic Urea Oxidation on High Chromium and Molybdenum Nickel
                Alloys</button>
            <div class="panel-pub">
                <div class='abstract'>
                    <u>Graphic:</u><br>
                </div>
                <img src="/static/images/Publications/GA-Alloy.png" alt="GA">
                <!-- <br> -->
                <div class='abstract'>
                    <u>Abstract:</u><br>
                    High chromium and molybdenum nickel-based alloys and pure Ni were used as electrocatalysts to study
                    the electrochemical urea oxidation reaction with varying concentrations of Ni, Cr, and Mo. Slow
                    cyclic voltammetry (1 mV s<sup>-1</sup>) and polarization curves were performed with 10, 50, and 100
                    mM urea in 1 M KOH at 37 °C. The electrochemically active surface area (ECSA) was
                    determined by capacitance measurements at the open circuit potential. The ECSA tracked the extent of
                    oxide layer growth for all electrodes. Electrodes with mature oxide layers exhibited larger ECSAs
                    compared to those of initial oxide layers. Alloys showed higher reaction rates per geometric area
                    than nickel. However, the alloys showed showed significantly lower urea electrooxidation turnover
                    frequencies (TOF) (0.057–0.1 s<sup>-1</sup>) when compared to a pure Ni electrode (< 0.30 s<sup>
                        -1</sup>).
                        Key findings emphasize: the correlation between electrochemical surface area and roughness with
                        urea oxidation active area, the utilization of the Langmuir-Hinshelwood model for determining
                        the urea oxidation mechanism versus potential, and the determination that urea oxidation
                        activity remained constant on a per-site basis through TOF ratio analysis despite the growth of
                        the oxide layer.
                </div>
            </div>
            
            <button class="accordion-pub"> 4.) Catalytic Urea Electrooxidation on Nickel-Metal Hydroxide Foams
                For Use in A Simplified Dialysis Device</button>
            <div class="panel-pub">
                <div class='abstract'>
                    <u>Graphic:</u><br>
                </div>
                <img src="/static/images/Publications/GA-CDI.png" alt="GA">
                <!-- <br> -->
                <div class='abstract'>
                    <u>Abstract:</u><br>
                    Electrocatalytic urea removal is a promising technology for artificial kidney dialysis and
                    wastewater treatment. Urea electrooxidation was studied on a variety of nickel electrocatalysts
                    modified with Cr, Mo, Mn, and Fe with varying electrochemically active surface and roughness. Mass
                    transfer limits
                    were observed for urea oxidation at physiological concentrations (10 mM). Urea oxidation kinetics
                    were explored at higher concentrations (200 mM), showing improved performance during polarization,
                    but lower currents per active site. A simplified dialysis model was developed to examine the
                    relationship of mass transfer coefficients and extent of reaction on flowrate, composition, and pH
                    of the reacting stream. For a nickel hydroxide catalyst, the model shows that a minimum electrode
                    area of 1314 cm<sup>2</sup> is needed for continuous operation. This research combines
                    experimental data and a computational dialysis model for a simplified continuous dialysis system,
                    highlighting the potential of these catalysts and paving the way for future improvements.
                </div>
            </div>
            
        </div>

    </div>


    <script src="../static/scripts/top-banner.js"></script>
    <script src="../static/scripts/accordian-pub.js"></script>

</body>

</html>