<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="styles.css">

</head>

<body>

    <div class="header-box">
        <div class="header-text">
            <a href="/" class="first-element">Dr. Anthony Pyka</a>
        </div>
        <button class="accordion">&#8801;</button>
        <div class="panel">
            <div class="accordian-content">
                <a href="/" class="first-element">Home</a>
                <a href="/Resume">Resume</a>
                <a href="/Biography">Biography</a>
                <a href="/Publications">Publications</a>
                <a href="/Projects" class="last-element">Projects</a>
            </div>
        </div>
        
    </div>

    <!--    SPACE TO PUT PAGE ITEMS -->

    <div class="resume-background">
        <a href="/practice-templates/Resume-Print.html">
            <img class="resume-viewer" src="/static/images/Anthony Pyka Resume.jpg" alt="Hills">
        </a>
    </div>
    <!--    SPACE TO PUT PAGE ITEMS -->


    <script src="../static/scripts/top-banner.js"></script>

</body>

</html>