<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="styles.css">

</head>

<body>

    <div class="home-container">

        <div class="heading-space" id="spacebase1"></div>
        <div class="banner-container">
            <button class="accordion">&#8801;</button>
            <div class="header-box">
                <a href="/" class="first-element">Dr. Anthony Pyka</a>
            </div>
        </div>
        <div class="heading-space" id="spacebase2"></div>
        <div class="panel" id="panelbut">
            <div class="accordian-content">
                <a href="/" class="first-element">Home</a>
                <a href="/Resume">Resume</a>
                <a href="/Biography">Biography</a>
                <a href="/Publications">Publications</a>
                <a href="/Projects" class="last-element">Projects</a>
            </div>
        </div>

        <div class="resume-background">
            <a href="/Resume_Print">
                <img class="resume-viewer" src="/static/images/Resume/Anthony Pyka Resume.jpg" alt="Hills">
            </a>
        </div>

    </div>


    <script src="../static/scripts/top-banner.js"></script>
    <script src="../static/scripts/zoom.js"></script>
    <script src="../static/scripts/rain.js"></script>
    
</body>

</html>